h1
    {
        color:green;
        font-family: 'Times New Roman';
        }
h3, h2
    {
        color:rgb(56, 5, 80);
        font-family: Impact;
        }

p
    {
         color:pink;
    }



article
    {
        background-color: teal;
        background-image:url("https://th.bing.com/th/id/OIP.JdvV7qdxNc0oPt_bGautOwHaFi?rs=1&pid=ImgDetMain");
        width: 100;
        height: 100;
        color:red;
        font-family: Impact;
    }

.blur
{
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0, 3)
}

div p
    {
        color:blue;
    }

a:hover
    {
        color:black;
    }

input[type="text"]
    {
        border: 1px solid red;
    }

.container2
    {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding:10px;
    background-color:purple;
    }

.item2
    {
        background-color:darkgoldenrod;
        color:peachpuff;
        padding:20xp;
        text-align:center;
        font-size:16px;
       
    }


