h1
{
	color:green;
    font-family:"Times New Roman";
	}

div
    {
        background-color: teal;
        background-image:url("https://th.bing.com/th/id/OIP.JdvV7qdxNc0oPt_bGautOwHaFi?rs=1&pid=ImgDetMain");
        background-size: cover;
        color:red;
        font-family:impact;
    }

.blur
{
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0,3);
}

div p
    {
        color:blue;
    }

a:hover
    {
        color:black;
    }

input[type="text"]
    {
        border: 1px solid red;
    }